html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: rgba(0,0,0,0.8); */
    color: white;
    position: relative;
}

.nav-behind {
    height: 9vh;
}

header {
    height: 9vh;
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    position: fixed;
    background-color: #000000;
    z-index: 100;
}

.title {
    font-size: 2rem;
    color: #ff0000;
}

.nav-title {
    display: flex;
    justify-content: space-evenly;
}

.nav-title a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.gap {
    margin-inline: 1rem;
}

.margin {
    margin-inline: 4rem;
}

.nav-title a:hover {
    color: #ff0000;
}

/* welcome section */
.welcome {
    color: #ff0000;
    height: 91vh;
    /* border: 2px solid red; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url(welcome.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.pro-title {
    font-family: monospace;
    font-weight: 600;
    font-size: 3em;
    text-wrap: wrap;
}

.span-profile {
    color: yellow;
}

.pro-des {
    margin-block: 3rem;
    color: white;
    font-size: 1rem;
    text-wrap: wrap;
}

.photo img {
    border-radius: 50%;
}

.button {
    display: flex;
    justify-content: center;
    margin-block: 20px;
}

.button a {
    border: 1px solid red;
    border-radius: 20px;
    padding-inline: 10px;
    padding-block: 5px;
    margin-inline: 20px;
    text-decoration: none;
    color: white;
}
.button a:hover{
    background: red;
}
.break {
    background-color: rgba(0, 0, 0, 0.8);
}

.skill {
    height: 100vh;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url(skill.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-skill,
.div-projects,
.div-interest,
.div-education {
    font-style: italic;
    color: yellow;
    font-size: 80px;
    margin-top: 100px;
}

dt {
    font-family: monospace;
    font-weight: 600;
    font-size: 2rem;
    color: #ff0000;
}

dd {
    font-size: 1rem;
}

.projects {
    height: 100vh;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
        url(projects.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projects a {
    text-decoration: none;
    color: #ff0000;
    margin-left: 10px;
}

.interest {
    background: linear-gradient(rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.9)),
        url(interest.jpg);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interest .container .box {
    margin-inline: 40px;
}

.music,
.origami,
.drawing,
.story-books,
.technology {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.music .frame,
.origami .frame,
.drawing .frame,
.story-books .frame,
.technology .frame {
    margin: 20px 0;
}

.music .frame .img {
    background-image: url(music.jpg);
}

.origami .frame .img {
    background-image: url(origami.jpg);
}

.drawing .frame .img {
    background-image: url(drawing.jpg);
}

.story-books .frame .img {
    background-image: url(comic.jpg);
}

.technology .frame .img {
    background-image: url(tech.jpeg);
}

.music .frame .img,
.origami .frame .img,
.drawing .frame .img,
.story-books .frame .img,
.technology .frame .img {
    background-size: cover;
    background-position: 50% 50%;
    width: 400px;
    height: 400px;
    transition-duration:1s;
    transform: scale(1.5);
}

.frame.box{
    border-radius: 50px;
    overflow: hidden;
}
.music:hover .img{
    transform: scale(1);
}
.origami:hover .img{
    transform: scale(1);
}
.drawing:hover .img{
    transform: scale(1);
}
.story-books:hover .img{
    transform: scale(1);
}
.technology:hover .img{
    transform: scale(1);
}

.music .des,
.origami .des,
.drawing .des,
.story-books .des,
.technology .des {
    font-size: 1rem;
    width: 400px;
}

/* education basis */

.education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.e-box{
    width: 500px;
    height: 500px;
    margin: 40px;
    overflow: hidden;
    border-radius: 40px;
    position: relative;
}
.bsc.e-box::before{
    content: "Bsc";
    display: flex;
    width: 500px;
    height: 250px;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    background: linear-gradient(black,transparent);
    color: white;
    transition-duration: 1s;
    transform: translateY(-250px);
}
.bsc.e-box:hover::before{
    transform: translateY(0px);
}
.bsc.e-box::after{
    content: "Ramakrishna mission vidyamandira(belur),howrah";
    display: flex;
    width: 500px;
    height: 250px;
    justify-content: right;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    background: linear-gradient(transparent,black);
    color: white;
    transition-duration: 1s;
    transform: translateY(0px);
}
.bsc.e-box:hover::after{
    transform: translateY(-250px);
}
.e-frame{
    transition-duration: 1s;
    transform: scale(1.5);
}
.e-box:hover .e-frame{
    transform: scale(1);
}
.bsc .e-frame{
    width: 500px;
    height: 500px;
    background: url(bsc.jpg);
    background-size: cover;   
}

.higher-sec .e-frame{
    width: 500px;
    height: 500px;
    background: url(higher-sec.jpg);
    background-size: cover;
}

.higher-sec.e-box::before{
    content: "Higher Secondary";
    display: flex;
    width: 500px;
    height: 250px;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    background: linear-gradient(black,transparent);
    color: white;
    transition-duration: 1s;
    transform: translateY(-250px);
}
.higher-sec.e-box:hover::before{
    transform: translateY(0px);
}
.higher-sec.e-box::after{
    content: "Torkona Jagabandhu High School(HS),Torkona,East Bardwan";
    display: flex;
    width: 500px;
    height: 250px;
    justify-content: right;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    background: linear-gradient(transparent,black);
    color: white;
    transition-duration: 1s;
    transform: translateY(0px);
}
.higher-sec.e-box:hover::after{
    transform: translateY(-250px);
}

.sec .e-frame{
    width: 500px;
    height: 500px;
    background: url(sec.jpeg);
    background-size: cover;
}

.sec.e-box::before{
    content: "Secondary(madyamik)";
    display: flex;
    width: 500px;
    height: 250px;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    background: linear-gradient(black,transparent);
    color: white;
    transition-duration: 1s;
    transform: translateY(-250px);
}
.sec.e-box:hover::before{
    transform: translateY(0px);
}
.sec.e-box::after{
    content: "Bahalalpur Ram Dayal High School(HS), Bahalalpur, Bankura";
    display: flex;
    width: 500px;
    height: 250px;
    justify-content: right;
    align-items: center;
    position: absolute;
    z-index: 1;
    font-size: 40px;
    background: linear-gradient(transparent,black);
    color: white;
    transition-duration: 1s;
    transform: translateY(0px);
    text-wrap: wrap;
}
.sec.e-box:hover::after{
    transform: translateY(-250px);
}
.education {
    background: linear-gradient(rgb(0, 0, 0, 0.9), rgb(0, 0, 0, 0.9)),
        url(education.jpg);
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacting{
    height: 200px;
    width: 100%;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item{
    margin: 5px;
}
.contacting::after{
    position:absolute;
    bottom: 0px;
    content: "© 2024 Rajkumar Das";
}