div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}
@media (max-width : 300px){
    #box1{
        background-color: green;
    }
}
@media (min-width:300px) and (max-width:400px){
    #box2{
        background-color: pink;
    }
}
@media (min-width:400px) and (max-width:600px){
    #box3{
        background-color: red;
    }
}
@media (min-width:600px){
    #box4{
        background-color: blue;
    }
}