<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <style>
        body{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        span{
            font-size: 60px;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <span class="text"></span>
</body>
    <script>
        var typed= new Typed(".text",{
    strings:["first text"," second text","third text","fourth text"],typeSpeed:100,backSpeed:100,backDelay:1000,loop:true
});
    </script>
</html>