.content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width:200px;
    height:200px;
    background-color: black;
    border-radius: 40px;
    
}
.box:hover{
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
