<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="TTF.css">
    <title>transition timing function</title>
</head>
<body>
    <h1>different types of transition timing functions</h1>
    <div>
        <span class="one">ease</span>
    </div>
    <div>
        <span class="two">ease_in</span>
    </div>
    <div>
        <span class="three">ease_out</span>
    </div>
    <div>
        <span class="four">ease_in_out</span>
    </div>
    <div>
        <span class="five">linear</span>
    </div>
    <div>
        <span class="six">steps(6)</span>
    </div>
    <div>
        <span class="seven">step_end</span>
    </div>
    <div>
        <span class="eight">step_start</span>
    </div>
    
</body>
</html>